<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.management">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".main.chat.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".menu.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".menu.PerfectInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".menu.holidays_records.HolidaysRecordsActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".menu.night_records.NightRecordsActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".menu.signon_records.SignOnRecordsActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".menu.signon_records.details.SignOnRecordsDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".menu.holidays.HolidaysActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".menu.holidays.HolidaysDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".menu.signOn.SignOnActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".menu.signOn.MapActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".main.NewsWebActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.amap.api.maps.offlinemap.OfflineMapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".menu.goHome.GoHomeRecordsActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="998e070b94be7efbf1f2dde810912309" />

        <service android:name="com.amap.api.location.APSService" >
        </service>

    </application>

</manifest>